h1 {
  font-family: 'Manrope', sans-serif;
  font-size: 56px;
  color: #cacaca;
  text-shadow: 2px 2px #000000;
  margin: 0 0 30px 0;
}

h2 {
  font-family: 'Manrope', sans-serif;
  font-size: 36px;
  color: #cacaca;
  text-shadow: 2px 2px #000000;
  margin: 0 0 30px 0;
}

h3 {
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  color: #cacaca;
  margin: 0 0 30px 0;
}

p, li, a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #cacaca;
}
